---
import EyecatchCard from "@components/EyecatchCard.astro";

// 画像関連呼び出し
import { Image } from "astro:assets";
import backBtnImage from "@images/backBtnImage.svg";
import nextBtnImage from "@images/nextBtnImage.svg";

import type { Page } from "astro";
import type { Blog, Work } from "@lib/microcms";
type Props = Page<Blog | Work> & {
  title: string;
  linkPrefix: string;
};

const { data, url, lastPage, currentPage, title, linkPrefix } = Astro.props;
---

<main class="mt-20 pt-5 w-4/5 mx-auto">
  <h2 class="mb-2 text-xl font-bold dark:text-slate-50 sm:text-2xl">
    {title}
  </h2>
  <div class="mt-5 grid grid-flow-row gap-5 sm:grid-cols-2 lg:grid-cols-3">
    {
      data.length > 0 ? (
        data.map((content: any) => (
          <EyecatchCard {...content} linkPrefix={linkPrefix} />
        ))
      ) : (
        <h3 class="dark:text-slate-50">
          表示できる内容がありませんでした &#x1F647;&#x200D;&#x2642;&#xFE0F;
        </h3>
      )
    }
  </div>

  <nav class="mt-10">
    <div class="flex items-center justify-center">
      {
        //　Backボタン
        url.prev && (
          <a
            href={url.prev}
            class="w-[calc(3rem+1px)] h-12 mr-[-1px] flex items-center justify-center border rounded-l-lg bg-stone-50 dark:bg-zinc-900 dark:border dark:border-zinc-700"
          >
            <Image
              class="dark:invert"
              src={backBtnImage}
              alt="前へボタン"
              width="16"
              height="16"
            />
          </a>
        )
      }
      {
        //　ページ数表示
        lastPage &&
          Array.from({ length: lastPage }, (v, i) => i + 1).map(i => (
            <a
              href={`/blog/page/${i}`}
              class={`w-[calc(3rem+2px)] h-12 mx-[-1px] flex items-center justify-center font-semibold border ${currentPage === i ? "bg-gray-200 dark:bg-zinc-600" : "bg-stone-50 dark:bg-zinc-900"} dark:text-slate-50 dark:border dark:border-zinc-700`}
            >
              {i}
            </a>
          ))
      }
      {
        // Nextボタン
        url.next && (
          <a
            href={url.next}
            class="w-[calc(3rem+1px)] h-12 ml-[-1px] flex items-center justify-center border rounded-r-lg bg-stone-50 dark:bg-zinc-900 dark:border dark:border-zinc-700"
          >
            <Image
              class="dark:invert"
              src={nextBtnImage}
              alt="次へボタン"
              width="16"
              height="16"
            />
          </a>
        )
      }
    </div>
  </nav>
</main>
