---
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { generateTitle, navTitles } from "@/utils";

// 記事の詳細画面へのパスを生成
import { getWorks, getWorkDetail } from "@lib/microcms";
export const getStaticPaths = async () => {
  const response = await getWorks({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      workId: content.id,
    },
  }));
};

const { workId } = Astro.params;
const work = await getWorkDetail(workId as string);
---

<Layout title={generateTitle(work.title)} activeMenu={navTitles.work}>
  <main class="mt-20 pt-5 w-4/5 mx-auto">
    <article>
      <Image
        class="mx-auto"
        src={work.eyecatch.url}
        alt={work.eyecatch_alt}
        width="450"
        height="250"
      />

      <h1 class="mt-8 text-2xl font-bold dark:text-slate-50 sm:text-3xl">
        {work.title}
      </h1>

      <div class="my-2 flex flex-col sm:flex-row">
        <p
          class="text-sm text-gray-600 dark:text-slate-50 sm:text-base sm:mr-10"
        >
          公開日：{
            new Date(work.publishedAt).toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </p>
        <p class="text-sm text-gray-600 dark:text-slate-50 sm:text-base">
          最終更新日：{
            new Date(work.revisedAt).toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </p>
      </div>

      {
        work.tags.length > 0 &&
          work.tags.map(tag => (
            <span class="px-2 py-1 mr-1 text-xs font-semibold rounded-2xl border dark:text-slate-50 dark:border-zinc-700 sm:px-3 sm:text-sm">
              {tag.name}
            </span>
          ))
      }

      <div set:html={work.content} class="mt-14 dark:text-slate-50" />
    </article>
  </main>
</Layout>
